.Tilt {

    height: 300px;
    width: 350px;
    background-size:  350px 300px;
    background-color: rgba(255, 187, 222, 0.05);
    opacity: 0.75;


}

.zoomBox {

    width:100px;
    height:120px;
    /*background-image: url('https://www.playtothecrowd.co.uk/sites/default/files/images/play-to-the-crowd-overlay.jpg');
    */background-size: cover;
    transition: all 1s;
    
    border-style: solid;
    border-color: black;
    border-width: 0;

    

}

#zoomCanvas {

    width: 100px;
    height: 120px;
    
    border-color:linear-gradient(rgba(230,50,100),rgba(190,40,120));
    border-width: 5px;
    border-style:dotted;

    transform: rotate(15deg);
    
    
}


.flexLogo {

    display: flex;
    flex-direction: row;
    gap: 60px;

}

#canvas {

    width: 0px;
    height: 0px;
    border: 0px solid black;
    transform: translate(-69px,-88px);
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;

  }
  